@using CRM.Core
@model IEnumerable<tbl_ReviewTourDetail>

<div class="table-scrollable table-custom-format">
    <table class="table table-striped table-bordered table-hover" id="">
        <thead>
            <tr>
                <th>Dịch vụ</th>
                <th>Điểm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">
                    <td>@item.tbl_Dictionary.Name</td>
                    <td>@item.Mark</td>
                </tr>
            }
        </tbody>
    </table>
</div>

