<div class="page-sidebar-wrapper">
    <div id="dinamicMenu" class="page-sidebar navbar-collapse collapse">
    </div>
</div>
@{
    <script>
        //TẠO MENU ĐỘNG THEO QUYỀN CỦA USER
        var buildUL = function (parent, items) {
            $.each(items, function () {
                if (this.id.indexOf("-A-") == -1) {
                    if (this.children && this.children.length > 0) {
                        if (!this.id.startsWith("F-"))  {
                            var li = $('<li><a href="#"><i class="'+this.icon+'"></i><span class="title">' + this.text + '</span><span class="arrow"></span></a></li>');
                        }
                        else {
                            var li = $('<li><a href="' + this.redirect + '"><i class="'+this.icon+'"></i><span class="title">' + this.text + '</span></a></li>');
                        }
                    }
                    else {
                        var li = $('<li><a href="' + this.redirect + '"><i class="'+this.icon+'"></i><span class="title">' + this.text + '</span></a></li>');
                    }

                    li.appendTo(parent);

                    // if there are sub items, call the buildUL function.
                    if (this.children && this.children.length > 0) {
                        var ul = $('<ul class="sub-menu"></ul>');
                        ul.appendTo(li);
                        buildUL(ul, this.children);
                    }
                }
            });
        }
        var ul = $('<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"></ul>');
        ul.replaceAll('<ul class="sub-menu"></ul>',"").appendTo("#dinamicMenu");
    </script>
}
@{
    if (Session["Menu"] != null)
    {
        <script> buildUL(ul, @Html.Raw(Session["Menu"].ToString()));</script>
    }
}