<div class="modal fade " id="modal-insert-services-tour" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Thêm dịch vụ</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control" id="selectServiceTour">
                                <option value="0">-- Chọn dịch vụ --</option>
                                <option value="1">Nhà hàng</option>
                                <option value="2">Khách sạn</option>
                                <option value="3">Vận chuyển</option>
                                <option value="4">Vé máy bay</option>
                                <option value="5">Event</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

