<div class="modal fade bs-modal-lg" id="modal-import-candidate" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Import ứng viên</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="file" id="fileImport" name="Import" class="form-control" style="width:250px; float:left; padding:2.5px 1px" />
                            <button class="btn btn-danger" id="btnRemove" onclick="DeleteImport()"><i class="fa fa-times"></i>&nbsp;Xóa</button>
                            <input type="hidden" id="listItemIdI" />
                            <button class="btn yellow" onclick="SaveImport()"><i class="fa fa-floppy-o"></i>&nbsp;Lưu</button>
                            <button class="btn grey" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;Đóng</button>
                            <a class="btn green" href="/CandidateManage/ExcelSample"><i class="fa fa-file-text"></i>&nbsp;File Mẫu</a>
                        </div>
                        <div class="col-md-12 margintop10" id="import-data-candidate">
                            @*id="import-data-customer"*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


