
@{
    ViewBag.Title = "FreeViews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>QUẢN LÝ MENU VÀ FROM</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">Page Layouts</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" onclick="location.reload(true);"><i class="fa fa-refresh"></i>&nbsp;Nạp</button>
                <button class="btn btn-primary" data-toggle="modal" controller="MenuAndForms" id="btnCreate" href="#modal"><i class="fa fa-plus"></i>&nbsp;Thêm</button>
                <button class="btn btn-warning" id="btnEdit" controller="MenuAndForms" data-toggle="modal" href="#modal"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>
                <button class="btn btn-danger" id="btnRemove" controller="MenuAndForms" onclick="confirm('Bạn có chắc chắn xóa không?');"><i class="fa fa-remove"></i>&nbsp;Xóa</button>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">




                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" onclick="SaveRoles()" class="btn blue"><i class="fa fa-check"></i> Lưu</button>
                            </div>
                            <div class="col-md-9">
                                <select id="roles" name='roles' class="form-control"></select>
                            </div>
                            <hr /><br />
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="tree_2" class="tree-demo">
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

    @*Pupup modal inset update delete*@
    <div class="modal fade bs-modal-lg" id="modal" role="document" aria-hidden="true"></div>
    

</div>
