@using TOURDEMO.Models
@model CustomerViewModel

<div class="modal fade  bs-modal-lg" id="modal-insert-customer" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        @using (Html.BeginForm("Create", "CustomersManage"))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Khách hàng - Doanh nghiệp</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="tabbable-custom" id="tab-insert-customer">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#thongtinchung" data-toggle="tab">Thông tin chung</a>
                                </li>
                                <li>
                                    <a href="#tab-visa" data-toggle="tab">CMND - Visa - Passport</a>
                                </li>
                                <li>
                                    <a href="#tab-other" data-toggle="tab">Công ty khác</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="thongtinchung" style="max-height: 900px; overflow: hidden;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="radio-list">
                                                <label>
                                                    <input type="radio" name="radioCustomerType" id="rdoCompany" value="0" onclick="radCompanyClick()" checked="checked" />
                                                    Doanh nghiệp
                                                </label>
                                                <label>
                                                    <input type="radio" name="radioCustomerType" id="rdoPersonal" value="1" onclick="radPersonalClick()" />
                                                    Cá nhân
                                                </label>
                                            </div>
                                        </div>
                                        <div id="detail-company">
                                            @Html.Partial("_Partial_DetailCompany")
                                        </div>
                                        <div id="detail-personal" style="display: none">
                                            @Html.Partial("_Partial_DetailPersonal")
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-visa" style="max-height: 900px; overflow: hidden;">
                                    <div class="row">
                                        @Html.Partial("_Partial_VisaPassport")
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-other" style="max-height: 900px; overflow: hidden;">
                                    <div class="row">
                                        @Html.Partial("_Partial_DetailContact")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue" name="btnLuu">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        }
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>