@using TOURDEMO.Utilities

<div class="modal fade" id="modal-update-point" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Lịch hẹn</h4>
            </div>
            @using (Ajax.BeginForm("UpdatePoint", "MemberCardHistoryManage", null, new AjaxOptions { OnFailure = "OnFailureMemberCard", OnSuccess = "OnSuccessMemberCard", UpdateTargetId = "thethanhvien" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3"></label>
                                    <label class="col-lg-9 col-md-9">Số điểm hiện tại: <strong>@ViewBag.Point</strong></label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Nhập số điểm (tăng/giảm)</label>
                                    <div class="col-lg-9 col-md-9">
                                        <input type="hidden" name="CustomerId" value="@ViewBag.CustomerId" />
                                        <input type="number" class="form-control" name="Point" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Diễn giải</label>
                                    <div class="col-lg-9 col-md-9">
                                        <textarea class="form-control" name="Note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>