@{
    ViewBag.Title = "DEMO CONTACT FORM";
}

<div class="page-content">
    <div class="page-head">
        <div class="page-title">
            <h1>DEMO CONTACT FORM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div uid='admin' id='source-contact'>
                        <script type="text/javascript" src="http://103.27.238.158/Scripts/jquery-1.10.2.js"></script>
                        <script type='text/javascript'>
                            $.getScript('http://103.27.238.158/Scripts/savecontact.js', function () { });
                            $.get('http://103.27.238.158/ContactFormManage/CheckData', { u: 'admin', d: window.location.protocol + "//" + window.location.host }, function (html) {
                                    document.getElementById('source-contact').innerHTML = html;
                                })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>