@using TOURDEMO.Models;
@using TOURDEMO.Utilities;
@model IEnumerable<PartnerViewModel>
@{
    int i = 1;
}

<ul class="ullist controls side-nav" style="margin: 0px; padding: 0px; list-style-type: none;">
    <li>
        <a data-load="all" id="ullist_a_all" href="#all" title="Xem tất cả" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;"><span>Xem tất cả</span></a>
    </li>
    @foreach (var item in Model)
    {
        <li>
            <a data-load="@i" id="ullist_a_@i" href="#@i" title="@item.Name" style="color: rgb(102, 102, 102); display: block; padding: 5px; font-size: inherit; text-decoration: none;">
                <span>@item.Name</span>
        </a>
    </li>
        i++;
    }
</ul>