@using TOURDEMO.Utilities
@model CRM.Core.tbl_StaffDayOff

<div class="modal fade bs-modal-lg" id="modal-insert-dayoff" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ngày nghỉ phép</h4>
            </div>
            @using (Ajax.BeginForm("CreateNgayNghiPhep", "StaffOtherTab", null, new AjaxOptions { OnFailure = "OnFailureDayOff", OnSuccess = "OnSuccessDayOff", UpdateTargetId = "ngaynghiphep" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Số ngày</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextBoxFor(model => model.NumberDay, new { @class = "form-control",@type="number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Từ ngày</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="date" class="form-control" name="StartDay" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Đến ngày</label>
                                    <div class="col-lg-10 col-md-10">
                                        <input type="date" class="form-control" name="EndDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-md-2">Lý do</label>
                                    <div class="col-lg-10 col-md-10">
                                        @Html.TextBoxFor(model => model.Note, new { @class = "form-control", @placeholder= "Nhập lí do xin phép nghỉ", @type = "text" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <button type="submit" class="btn blue">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>