@using CRM.Core
@using TOURDEMO.Models
@using TOURDEMO.Utilities
@model IEnumerable<tbl_TourSchedule>
@{
    int i = 1;
}

<div class="table-scrollable table-custom-format">
    <table class="table  table-bordered table-hover dataTable" id="table-booking">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>STT</th>
                <th>Hướng dẫn viên</th>
                <th>Ngày đi</th>
                <th>Ngày về</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td  style="text-align: center">@i</td>
                        <td>@item.tbl_Staff.FullName</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.StartDate)</td>
                        <td>@string.Format("{0:dd-MM-yyyy}", item.EndDate)</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
