@using MOLUX.Models;
@model IEnumerable<web_getAllPaymentMethod_Result>

<div class="list-bank" style="padding-left:8px">
    <div class="title-info" style="padding:3px">
        HÌNH THỨC THANH TOÁN
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-1" style="margin:10px 0px;height:auto">
            <img src="~/Images/PaymentMethod/@item.Logo" class="img-responsive" />
        </div>
    }
</div>
