@using CRM.Core
@model tbl_Program

@if (Model != null)
{
    <p>
        <label><b>Mã tour:</b> @(Model.TourId != null ? Model.tbl_Tour.Code : "")</label>
        <br />
        <label><b>Tên tour:</b> @(Model.TourId != null ? Model.tbl_Tour.Name : "")</label>
        <br />
        <label><b>Khách hàng/doanh nghiệp:</b> @(Model.CustomerId != null ? Model.tbl_Customer.FullName : "")</label>
        <br />
        <label><b>Ghi chú:</b> @Html.Raw(Model.Note)</label>
    </p>
}