@using TOURDEMO.Models
@using TOURDEMO.Utilities

<div class="col-md-12">
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Tên công ty</label>
        <div class="col-lg-10 col-md-10">
            <input type="text" class="form-control" name="OtherCompanyName" id="OtherCompanyName" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" name="OtherCompanyAddress" id="OtherCompanyAddress" />
        </div>
        <div class="col-lg-6 col-md-6">
            <select class="form-control" multiple="multiple" style="width: 100%" id="insert-address-othercompany" name="OtherCompanyTagsId">
                @foreach (var item in LoadData.DropdownlistLocation())
                {
                    <option value="@item.Id">@item.Tags</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Điện thoại</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" name="OtherCompanyPhone" id="OtherCompanyPhone" />
        </div>
        <label class="control-label col-lg-2 col-md-2">Email</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" name="OtherCompanyEmail" id="OtherCompanyEmail" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 col-md-2">Ngành nghề</label>
        <div class="col-lg-4 col-md-4">
            <select class="form-control" style="width: 100%" id="insert-nganhnghe-other" name="OtherCompanyCareerId">
                @foreach (var item in LoadData.CareerList())
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <label class="control-label col-lg-2 col-md-2">Giám đốc</label>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" name="OtherCompanyDirector" id="OtherCompanyDirector" />
        </div>
    </div>
</div>
