@using TOURDEMO.Utilities

<div class="modal fade bs-modal-lg" id="modal-insert-transport" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Vận chuyển</h4>
            </div>
            @using (Ajax.BeginForm("CreateTransport", "TourService", null, new AjaxOptions { OnFailure = "OnFailureTourService", OnSuccess = "OnSuccessTourService", UpdateTargetId = "dichvu" }))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12 OptionTransport" id="OptionTransport1">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption captionOption">
                                            <a data-toggle="collapse" data-target="#transport1" style="cursor: pointer" class="btn btn-default OptionTransportA"><i class="fa fa-minus"></i></a>
                                            <span class="caption-subject bold uppercase font-purple OptionTitle">OPTION 1</span>
                                        </div>
                                        <div class="actions actionsOption">
                                            <button style="cursor: pointer" type="button" class="btn btn-danger btnRemoveOption" disabled="disabled" onclick="removeOptionTransport()"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="portlet-body OptionTransportBody collapse in" id="transport1">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2 col-md-2">Tên đối tác</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <select class="form-control name-transport" id="name-transport1" style="width:100%;" name="name-transport1">
                                                                <option>-- Chọn đối tác vận chuyển --</option>
                                                                @foreach (var item in LoadData.TransportList())
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <label class="control-label col-lg-2 col-md-2">Mã đối tác</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <input name="code-transport1" id="code-transport1" readonly="readonly" type="text" class="form-control code-transport" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2 col-md-2">Người liên hệ</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <input name="nguoilienhe-transport1" id="nguoilienhe-transport1"  type="text" class="form-control nguoilienhe-transport" />
                                                        </div>
                                                        <label class="control-label col-lg-2 col-md-2">Quốc gia</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <input name="country-transport1" id="country-transport1" type="text" class="form-control country-transport" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-lg-2 col-md-2">Số điện thoại</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <input name="phone-transport1" id="phone-transport1"  type="text" class="form-control phone-transport" />
                                                        </div>
                                                        <label class="control-label col-lg-2 col-md-2">Tài liệu</label>
                                                        <div class="col-lg-4 col-md-4">
                                                            <input name="TransportDocument" id="file-transport1" type="file" class="form-control file-transport" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <h4>Các dịch vụ cung cấp</h4>
                                                    <a class="btn btn-primary btnNewServiceTranport" onclick="addNewServiceTranport(1)"><i class="fa fa-plus"></i> Thêm mới dịch vụ</a>
                                                    <br /><br />
                                                    <input type="hidden" value="1" name="NumberDeadlineTranport1" class="countDeadline" id="countDeadlineTranport1" />
                                                    <div class="form-group ServiceTranport" id="ServiceTranport11">
                                                        <div class="col-lg-5 col-md-5">
                                                            <input type="text" class="form-control ServiceName"  name="ServiceName11" id="ServiceName11" placeholder="Tên dịch vụ..." />
                                                        </div>
                                                        <div class="col-lg-5 col-md-5">
                                                            <input type="number" min="0" class="form-control ServicePrice" name="ServicePrice11" id="ServicePrice11" placeholder="Giá..." />
                                                        </div>
                                                        <div class="col-lg-2 col-md-2">
                                                            <select class="form-control ServiceCurrency"  style="width: 100%" id="ServiceCurrency11" name="ServiceCurrency11">
                                                                @foreach (var item in LoadData.CurrencyList())
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class=" col-lg-1 col-md-1 actionRemoveServiceTranport">
                                                            <button style="cursor: pointer" class="btn btn-danger btnRemoveServiceTranport" type="button" disabled="disabled" onclick="removeServiceTranport(1,1)"><i class="fa fa-times"></i></button>
                                                        </div>
                                                        <br />
                                                        <div class="col-lg-12 col-md-12" style="margin-top: 10px">
                                                            <textarea class="form-control ServiceNote" name="ServiceNote11" id="ServiceNote11" placeholder="Ghi chú..."></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center" style="margin-bottom: 20px">
                    <input type="hidden" value="1" name="NumberOptionTransport" id="countOptionTransport" />
                    <button type="button" class="btn btn-success" onclick="addNewTranport()">Thêm option</button>
                    <button type="submit" class="btn blue" id="btnLuuFunction">Lưu</button>
                    <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
