.table-custom-format {
    overflow: auto;
}

    .table-custom-format th, td {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

.margintop10 {
    margin-top: 10px;
}

.paddingbottom15 {
    padding-bottom: 15px;
}

.paddingtop10 {
    padding-top: 10px;
}

.icon-sort-table {
    color: #ccc;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    color: white;
    cursor: pointer;
}

    .fileContainer a {
        color: white;
        cursor: pointer;
    }

    .fileContainer [type=file] {
        cursor: inherit;
        display: block;
        filter: alpha(opacity=0);
        min-height: 100%;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .fileContainer a:hover {
        cursor: pointer;
        text-decoration: none;
    }

table.detail-searchcustomer {
    width: auto;
}

    table.detail-searchcustomer td {
        text-align: left;
    }

#loading {
    display: none;
    top: 5px;
    padding: 5px 15px 5px 15px;
    right: 5px;
    z-index: 99999999;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    behavior: url(PIE.htc);
    position: fixed;
    font-size: 12px;
}


.notallowclick {
    cursor: not-allowed;
}

.title-permission {
    display: block;
    height: 30px;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: bold;
}

.list-permission {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #ccc;
}

.dd-handle a {
    color: black;
    font-size: 13px;
    text-decoration: none
}

.dd-handle a:hover {
    text-decoration: none
}

.dd-handle.marginleft {
    margin-left: 30px
}

th i.fa.fa-sort-asc {
    position: absolute;
    right: 4px;
    top: 12px;
}
th i.fa.fa-sort-desc {
    position: absolute;
    right: 4px;
    bottom: 10px;
}
th {
    position: relative;
}