
@{
    ViewBag.Title = "AcessDenied";
    Layout = null;
}

<center style="background-color: #FFF; padding: 20px; width: 50%; align-content: center; margin: auto; margin-top: 20px;">
    <h2 style="color:red">AcessDenied</h2>
    <h3 style="color:blue">Bạn không có quyền truy cập chức năng này...!!!</h3>
</center>

