@using MOLUX.Helper
@model MOLUX.Models.Item

<div id="modal-update-technical" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật Thông số kỹ thuật</h4>
            </div>
            @using (Ajax.BeginForm("UpdateTechnical", "ProductManage", null, new AjaxOptions { OnSuccess = "OnSuccessUpdateSEO" }, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.RowID)

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12 col-lg-12">Thông số kỹ thuật</label>
                            <div class="col-md-12 col-lg-12">
                                @Html.TextAreaFor(model => model.Technical, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="btnSave">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

