<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">PHÂN QUYỀN</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" onclick="SaveRoles()" class="btn blue"><i class="fa fa-check"></i> Lưu</button>
                    </div>
                    <div class="col-md-9">
                        <select id="roles" name='roles' class="form-control"></select>
                    </div>
                    <hr /><br />
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tree_2" class="tree-demo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts {

    <script>
        $.getJSON(host + '/Roles/UserRole/user_4', function (jData) {
            //TẠO MENU ĐỘNG THEO QUYỀN CỦA USER
            var buildUL = function (parent, items) {
                $.each(items, function () {
                    if (this.id.indexOf("-A-") == -1) {
                        // create LI element and append it to the parent element.
                        if (this.children && this.children.length > 0) {
                            if (!this.id.startsWith("F-")) {
                                var li = $('<li><a href="#"><i class="icon-home"></i><span class="title">' + this.text + '</span><span class="arrow"></span></a></li>');
                            }
                            else {
                                var li = $('<li><a href="' + this.redirect + '"><i class="icon-home"></i><span class="title">' + this.text + '</span></a></li>');
                            }
                        }
                        else {
                            var li = $('<li><a href="' + this.redirect + '"><i class="icon-home"></i><span class="title">' + this.text + '</span></a></li>');
                        }

                        li.appendTo(parent);

                        // if there are sub items, call the buildUL function.
                        if (this.children && this.children.length > 0) {

                            var ul = $('<ul class="sub-menu"></ul>');
                            ul.appendTo(li);
                            buildUL(ul, this.children);
                        }
                    }
                });
            }
            var ul = $('<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"></ul>');
            ul.appendTo("#dinamicMenu");
            buildUL(ul, jData);
        });

    </script>

    <script>
@*<!-- KHONG XÓA create dinamic buttom form action -->*@
        //TestObj = [{"id":"M-1","text":"Quản lý user","icon":"fa fa-folder icon-state-default","redirect":null,"state":null,"children":[{"id":"F-4","text":"1.1 Danh sách user","icon":"fa fa-check icon-state-success","redirect":"/danh_sach_user","state":{"urlRequest":"#","actionID":0,"selected":true,"opened":false},"children":[{"id":"F-4-A-1","text":"Insert","icon":null,"redirect":null,"state":{"urlRequest":"action1.html","actionID":1,"selected":true,"opened":false},"children":null},{"id":"F-4-A-2","text":"Update","icon":null,"redirect":null,"state":{"urlRequest":"action2.html","actionID":2,"selected":true,"opened":false},"children":null}]},{"id":"F-5","text":"1.2 Quan ly khach hang","icon":null,"redirect":"/quan_ly_kh","state":null,"children":[{"id":"F-5-A-2","text":"Update","icon":null,"redirect":null,"state":{"urlRequest":"action2.html","actionID":2,"selected":true,"opened":false},"children":null},{"id":"F-5-A-3","text":"Delete","icon":null,"redirect":null,"state":{"urlRequest":"action3.html","actionID":3,"selected":true,"opened":false},"children":null}]}]},{"id":"M-2","text":"Quản lý khóa học","icon":"fa fa-warning icon-state-warning","redirect":null,"state":null,"children":[{"id":"F-9","text":"Danh sách khóa học","icon":null,"redirect":"/danhSachKhoaHoc","state":null,"children":[{"id":"F-9-A-5","text":"Export","icon":null,"redirect":null,"state":{"urlRequest":"action5.html","actionID":5,"selected":true,"opened":false},"children":null}]}]}];

        function getObjects(obj, key, val) {
            var objects = [];
            for (var i in obj) {
                if (!obj.hasOwnProperty(i)) continue;
                if (typeof obj[i] == 'object') {
                    objects = objects.concat(getObjects(obj[i], key, val));
                } else if (i == key && obj[key] == val) {
                    objects.push(obj);
                }
            }
            return objects;
        };
        //console.log(getObjects(TestObj, 'redirect', '/danh_sach_user'));
        $.getJSON(host + '/Roles/UserRole/user_4', function (jData) {
            $.each(getObjects(jData, 'redirect', '/danh_sach_user'), function (i, item) {
                $.each(item.children, function (i, action) {
                    if (action.state.selected == true) {
                        $('#dinamicButom').append($('<button id="' + action.id + '" type="button" class="btn purple"><i class="fa fa-check"></i>' + action.text + '</button>'));
                    }
                });
            });
        });





    </script>
}

