<div class='modal fade ' id='modal-notice' role='document' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-body clearfix'>
                Cảm ơn bạn đã đăng ký sử dụng!<br />
                Chúng tôi sẽ gửi tin nhắn cho bạn!<br />
            </div>
        </div>
    </div>
</div>

