<div class="modal fade " id="modal-insert-services-tour" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chọn dịch vụ</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectRestaurant"><i class="fa fa-cutlery"></i>&nbsp;Nhà hàng</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectHotel"><i class="fa fa-h-square"></i>&nbsp;Khách sạn</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectTransport"><i class="fa fa-bus"></i>&nbsp;Vận chuyển</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectPlane"><i class="fa fa-paper-plane"></i>&nbsp;Vé máy bay</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectEvent"><i class="fa fa-cubes"></i>&nbsp;Sự kiện</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectLandtour"><i class="fa fa-map"></i>&nbsp;Landtour</a>
                            </div>
                            <div class="col-md-3">
                                <a style="cursor: pointer" id="selectOther"><i class="fa fa-hashtag"></i>&nbsp;Khác</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

