<div class="modal fade  bs-modal-lg" id="modal-edit-promotion" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Chương trình khuyến mãi</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Tên chương trình</label>
                                <div class="col-lg-9 col-md-9">
                                    <input type="text" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Tour</label>
                                <div class="col-lg-9 col-md-9">
                                    <select class="form-control" id="edit-tour-promotion" multiple="multiple" style="width: 100%">
                                        <option>1--------</option>
                                        <option>2--------</option>
                                        <option>3--------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Chiến dịch</label>
                                <div class="col-lg-9 col-md-9">
                                    <select class="form-control" id="edit-program-promotion" multiple="multiple" style="width: 100%">
                                        <option>1--------</option>
                                        <option>2--------</option>
                                        <option>3--------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Loại khách hàng</label>
                                <div class="col-lg-3 col-md-3">
                                   <select class="form-control" id="edit-customertype-promotion" style="width: 100%">
                                        <option>--------</option>
                                    </select>
                                </div>
                                <label class="control-label col-lg-3 col-md-3">Loại thẻ</label>
                                <div class="col-lg-3 col-md-3">
                                    <select class="form-control" id="edit-membercard-promotion" style="width: 100%">
                                        <option>--------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Giải thưởng</label>
                                <div class="col-lg-9 col-md-9">
                                    <input class="form-control" value="" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 col-md-3">Diễn giải</label>
                                <div class="col-lg-9 col-md-9">
                                    <textarea class="form-control" name="edit-promotion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center" style="margin-bottom: 20px">
                <button type="button" class="btn blue" id="btnLuuThem">Lưu</button>
                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



