@using TOURDEMO.Models
@{
    ViewBag.Title = "DEMO FORM";
}

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>DEMO FORM </h1>
        </div>
    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <iframe src="http://localhost:59912/Subscribe/style1/1" style="width: 90%; height: 270px" frameborder="0"></iframe>
            </div>
            <div class="col-md-12">
                <iframe src="http://localhost:59912/Subscribe/style2/2" style="width: 100%; height: 270px" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <!-- END PAGE BASE CONTENT -->
</div>