@using TOURDEMO.Utilities
@using CRM.Core
@model tbl_UpdateHistory

<div class="modal fade" id="modal-work-contract" role="document" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Nhật ký xử lý</h4>
            </div>
            @using (Html.BeginForm("UpdateStatus", "ProgramsManage"))
            {
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-lg-3 col-md-3">Tình trạng</label>
                                    <div class="col-lg-9 col-md-9">
                                        <select class="form-control" name="DictionaryId" id="status-work" style="width: 100%">
                                            @foreach (var item in LoadData.StatusProcessList())
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div align="center" style="margin-bottom: 20px">
                                <button type="submit" class="btn blue" id="btnThucHien">Thực hiện</button>
                                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
